# Ignore node_modules
node_modules/

# Ignore logs
logs
*.log

# Ignore environment files
.env

# Ignore build outputs
dist/
build/

#Ignore Package.json and other files
package.json
package-lock.json