*{
    margin: 0px;
    padding: 0px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;

}
.buttons{
    display: flex ;
    background-color: wheat;
    width: 400px;
    flex-wrap: wrap;
}
