@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
    font-family: "Varela Round", sans-serif;
    
}
body{
    background:linear-gradient(180deg,rgb(213, 244, 255),white);
    background-repeat: no-repeat;
    height: 100vh;
}
#landingContainer, .landingbox{
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    border:1px solid rgba(0, 0, 0, 0.159);
    border-image: linear-gradient(to right,#27231f90, #ffffff);
    border-image-slice: 1;
    /* border-radius: 10px; */
    padding: 10px;
    background-color: white;
    margin: 150px auto;
    /* backdrop-filter: blur(100px); */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.505);
    animation: 600ms ease-in 500ms 1  both running slide-in;
}
#landingContainer p{
    padding:5px;

}
#landingContainer h2{
    margin: 5px;

}
.genPwd{
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: rgb(197, 197, 197);
    border: 1.7px solid rgb(0, 0, 0);
    padding: 5px;
    margin-right: 5px;
}
.genPwd:hover{
    background-color: rgb(36, 36, 36);
    color: white;
    transform: translateX(3px);
}
#finalBtn{

    margin-left: 40px;
    margin-top: 10px;
}
@keyframes slide-in {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

#outercircle{
    border-radius: 50%;
    background: linear-gradient(180deg, blue , white);
    animation: loaderAnimation 1s linear infinite;
}
 #innercircle{
    border-radius: 50%;
}
@keyframes loaderAnimation{
    0%{
        transform : rotate(0deg)
    }
    100%{
        transform: rotate(360deg);
    }
}