*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
#landingContainer{
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    border:2px solid black;
    border-radius: 10px;
    padding: 10px;
}
 p{
    margin: 5px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}